CompileFlags:
  Add:
    - -xc
  Remove:
    # GCC-specific flags that clangd rejects:
    - -fno-allow-store-data-races
    - -fconserve-stack
    - -mrecord-mcount
    - -mindirect-branch=thunk-extern
    - -mindirect-branch-register
    - -mfunction-return=thunk-extern
    - -fno-stack-clash-protection
    - -mharden-sls=*
    - -ftrivial-auto-var-init=*
    - -fzero-call-used-regs=*
    - -pg
    - -mpreferred-stack-boundary=*
    - -fzero-init-padding-bits=*
    - -fmin-function-alignment=*
    - -fsanitize=*

Diagnostics:
  Suppress:
    - pp_including_mainfile_in_preamble
